/* CustomStyles.css */
.auth-container {
  background-color: #282c34;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
}

.auth-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.auth-button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: red;
}

.auth-footer {
  font-size: 12px;
  margin-top: 10px;
}
